/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: #f5f7fa;
}

/* Header */
header {
    background: #232f3e;
    color: white;
    text-align: center;
    padding: 30px;
}

/* Navbar */
nav {
    background: #ff9900;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

/* Sections */
section {
    padding: 40px;
}

.container {
    width: 80%;
    margin: auto;
}

/* Cards */
.card {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 10px;
}

/* Button */
button {
    padding: 10px 20px;
    background: #ff9900;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

/* Footer */
footer {
    background: #232f3e;
    color: white;
    text-align: center;
    padding: 10px;
}
